﻿<div class="jumbotron">
    <div class="container">
        <h1>Amazing Deliveries</h1>
        <p class="lead">We offer a tailored courier service to fit all your delivery needs</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Use our service</a></p>
    </div>
</div>
@Html.Partial("~/Views/Forms/CourierRequest.cshtml")