﻿@model AmazingDeliveries.Models.Customer
@using System.Web.Optimization


<div ng-app="CourierRequest">
    <script>
        angular.module('CourierRequest', [])
        .controller('CourierRequestController', ['$scope', '$http', function ($scope, $http) {
            $scope.submit = function () {
                if ($scope.FirstName) {
                    var customer = {
                        "FirstName": $scope.FirstName,
                        "Surname": $scope.Surname,
                        "Address": $scope.Address,
                        "Postcode": $scope.Postcode,
                        "ContactNumber": $scope.ContactNumber,
                        "EmailAddress": $scope.EmailAddress,
                        "Password": $scope.Password,
                        "ConfirmPassword": $scope.ConfirmPassword,
                        "Recipient": [{
                            "FirstName": $scope.RecipientSurname,
                            "Surname": $scope.RecipientSurname,
                            "Address": $scope.RecipientAddress,
                            "Postcode": $scope.ReceipientPostcode,
                            "ContactNumber": $scope.RecipientContactNumber,
                            "ParcelSize": $scope.ParcelSize,
                            "DeliverTime": $scope.DeliveyTime
                       }]
                    };
                    $http.post('http://localhost:59361/api/Customers', customer).
                    success(function (data, status, headers, config) {
                        alert("Your request has been submitted, we will send you a tracking code via email shortly");
                        //to add repsonse from CreatedAtRoute, from which the id can be retrieved, then make a call to the api to retreive relevant customer based on the id

                    }).
                    error(function (data, status, headers, config) {
                        console.log(customer);
                        alert("Sorry an error has occured");
                    });
                    
                }
            };
        }]);
    </script>






    <form ng-submit="submit()" ng-controller="CourierRequestController" class="form-horizontal">
        <h4>Your details</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="FirstName" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="Surname" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="Address" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Postcode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="Postcode" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="ContactNumber" class="form-control" required/>
            </div>
        </div>
        <hr />
        <h4>Register for an account to view all courier request history</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="text" ng-model="EmailAddress" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="password" ng-model="Password" class="form-control" require/>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="password" ng-model="ConfirmPassword" class="form-control" required/>
            </div>
        </div>
        <hr />
        <h4>Recipient Details</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Parcel Size</label>
            <div class="col-md-10">
                <div class="dropdown" >
                    <button ng-model="ParcelSize" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        -- Select --
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a>Small (under 50 grams)</a></li>
                        <li><a>Medium (50 grams to 1kg)</a></li>
                        <li><a>Large (1kg -> 5kg)</a></li>
                    </ul>
                </div>
            </div>
            </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Delivery Time</label>
            <div class="col-md-10">
                <div class="dropdown">
                    <button ng-model="DeliveryTime" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        -- Select --
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a>9am - 12am</a></li>
                        <li><a>12am - 3pm</a></li>
                        <li><a>3pm - 6pm</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Recipient First Name</label>
            <div class="col-md-10">
                <input type="text" ng-model="RecipientFirstName" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Recipient Surname</label>
            <div class="col-md-10">
                <input type="text" ng-model="RecipientSurname" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Recipient Address</label>
            <div class="col-md-10">
                <input type="text" ng-model="RecipientAddress" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Recipient Postcode</label>
            <div class="col-md-10">
                <input type="text" ng-model="RecipientPostcode" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Recipient Contact Number</label>
            <div class="col-md-10">
                <input type="text" ng-model="RecipientContactNumber" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/jqueryval")
    }


